:root {
	--font: 'Montserrat', 'sans-serif';
	--bgColor: white;
	--headerColor: black;
	--cardBgColor: #E2E2E2;
}

body {
  margin: 0;
  font-family: var(--font);
	background-color: var(--bgColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
